.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
.env

# review
reviews/*
!reviews/.gitkeep
issue.txt
@issue.txt

# gemini
.gemini

# pr
pr/*
!pr/.gitkeep
