.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
.env

# review
reviews/*
!reviews/.gitkeep
issues/*
!issues/.gitkeep
issue.txt
@issue.txt
issues/*
!issues/.gitkeep

# gemini
.gemini

# git
pr/*
!pr/.gitkeep
